// COLOURS

$color-primary: #6c03ff;
$color-secondary: #0069ff;
$color-accent: #e50081;
$color-background: #f9f5ff;
$color-surface: #ede0ff;
$color-title: #4a4453;
$color-text: #04000a;
$color-disabled: #b1a8b9;
$color-placeholder: #b1a8b9;
$color-backdrop: rgba(0, 0, 0, 0.35);
$color-warning: #ffbf3a;
$color-error: #e10000;
$color-sucess: #00c89b;

// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// Based on color-primay
$color-complementary: #96ff03;
$color-triadic-1: #ff0396;
$color-triadic-2: #ff6c03;
