@use "../variables/fonts" as *;
@use "../variables/colors" as *;
@use "../tools/mixins" as *;
@use "../tools/animations" as *;

html {
  font-size: 62.5%;
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  @include display-flex;
  @include gradient-animation(gradient-background);

  height: 100vh;
  background-color: $color-gray-200;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  color: $color-black;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: $size-text-regular;
  font-weight: 500;
  overflow-x: hidden;
  animation: gradient-background 8s ease infinite;
}


p {
  max-width: 50ch;
}

