// COLOURS

// https://mdigi.tools/color-shades/#ffffff
$color-accent: #ff2929;
$color-white: #ffffff;
$color-black: #050505;
$color-gray-50: #fafafa;
$color-gray-100: #f0f0f0;
$color-gray-200: #d1d1d1;
$color-gray-400: #808080;
$color-gray-500: #575757;
$color-gray-600: #2e2e2e;
$color-gray-800: #1a1a1a;
